<template>
  <div class="container">
    <table>
      <tr>
        <th>
          <h4>Agregar Juego</h4>
        </th>
        <th>
          <div class="card">
            <div class="card-body">
                <div class="form-gorup">
                    <input type="email" name="" class="form-control" placeholder="Correo Electrónico" v-model="email">
                </div>
                <div class="form-gorup">
                    <input type="password" name="" class="form-control" placeholder="Contraseña" v-model="password">
                </div>
                <button class="btn btn-primary" v-on:click="login(email, password)">Login</button>
            </div>
          </div>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>
    <form>
      <div class="well">
        <div class="form-group">
          <label class="pull-left">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre" v-model="nuevo_juego.nombre" required>
        </div>
        <div class="form-group">
          <label class="pull-left">Descripción</label>
          <input type="text" class="form-control" placeholder="Descripción" v-model="nuevo_juego.descripcion">
        </div>
        <div class="form-group">
          <label class="pull-left">Fecha de Publicación</label>
          <input type="date" class="form-control" v-model="nuevo_juego.ano">
        </div>
        <div class="form-group">
          <label class="pull-left">Género</label>
          <input type="text" class="form-control" placeholder="Género" v-model="nuevo_juego.genero">
        </div>
        <div class="form-group">
          <label class="pull-left">Desarrollador</label>
          <input type="text" class="form-control" placeholder="Desarrollador" v-model="nuevo_juego.desarrollador" required>
        </div>
        <div class="form-group">
          <label class="pull-left">Precio ₡</label>
          <input type="number" class="form-control" placeholder="$" v-model="nuevo_juego.precio">
        </div>
      </div>
      <table>
        <tr>
          <th>
            <router-link to="/">
              <button type="submit" class="btn btn-large btn-block btn-primary full-width" v-on:click="agregar_juego(nuevo_juego)">Agregar</button>
            </router-link>
          </th>
          <th>
            <router-link to="/">
              <button class="btn btn-large btn-block btn-success full-width">Atrás</button>
            </router-link>
          </th>
        </tr>
      </table>
    </form>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'juego',
  data () {
    return {
      nuevo_juego: { nombre: '', ano: '', genero: '', descripcion: '', precio: 0, desarrollador: ''},
      email:'',
      token: '',
      password: '',
      Des: []
    }
  },
  mounted() {
          axios.get('http://localhost:3000/api/desarrolladores')
            .then((response) => {
              console.log(response.data)
              this.Des = response.data
            })
            .catch((error) => {
              console.log(error)
              console.log(this.token)
            })
  },

  methods: {
    agregar_juego (nuevo_juego) {
      if (nuevo_juego.nombre.length < 1){
        alert("El juego debe tener un nombre.");
      }
            
      else{
		axios.get('http://localhost:3000/api/desarrolladores')
            .then((response) => {
              console.log(response.data)
              this.Des = response.data
            })
            .catch((error) => {
              console.log(error)
              console.log(this.token)
            })
        var i;
        var f = 0;
        for(i = 0; i < this.Des.length; i++){
          if (this.Des[i].nombre === nuevo_juego.desarrollador){
            f = 1;
            break;
          }
        }
        if (f === 1){
          axios.post('http://localhost:3000/api/juegos/?access_token=' + this.token, nuevo_juego)
          .then((response) => {
            console.log(response)
          })
          .catch((error) => {
            console.log(error)
            console.log(this.token)
          })
        }
        else{
          alert("El desarrollador ingresado no existe.");
        }
      }
    },
      login(email, password) {
        const credentials = {
            email: email,
            password: password
        }
        axios.post('http://localhost:3000/api/Users/login', credentials).then(response => {
            console.log(response)
            this.token = response.data.id
            localStorage.setItem('accToken', this.token)
            console.log(this.token)
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
