<template>
  <div class="container">
    <h3>Nuevo Usuario</h3>
    <form>
      <div class="well">
        <div class="form-group">
          <label class="pull-left">Correo Electrónico</label>
          <input type="email" class="form-control" placeholder="Correo Electrónico" v-model="nuevo_usuario.email" required>
        </div>
        <div class="form-group">
          <label class="pull-left">Contraseña</label>
          <input type="password" class="form-control" placeholder="Contraseña" v-model="nuevo_usuario.password" required>
        </div>
      </div>
      <table>
        <tr>
          <th>
            <router-link to="/">
              <button type="submit" class="btn btn-large btn-block btn-primary full-width" v-on:click="registrarse(nuevo_usuario)">Registrarse</button>
            </router-link>
          </th>
          <th>
            <router-link to="/">
              <button class="btn btn-large btn-block btn-success full-width">Atrás</button>
            </router-link>
          </th>
        </tr>
      </table>
    </form>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'usuario',
  data () {
    return {
      nuevo_usuario: { email: '', password: ''}
    }
  },
  methods: {
    registrarse (nuevo_usuario) {
      if (nuevo_usuario.password.length < 8){
        alert("La contraseña debe tener al menos 8 caracteres.");
      }
      else{
        axios.post('http://localhost:3000/api/Users', nuevo_usuario)
          .then((response) => {
            console.log(response)
          })
          .catch((error) => {
            //alert("Error al registrar al usuario.");
            console.log(error)
          })
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
