<template>
  <div clas="container">
      <h1>Get Juego</h1>
      <table class="table table-striped table-borderes">
      <thead>
        <tr>
          <th class="center">First Name</th>
          <th class="center">Last Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user_alias in Juego">
          <td class="text-left"> {{ user_alias.nombre}}</td>
          <td class="text-left"> {{ user_alias.descripcion}}</td>
          <td class="text-left"> {{ user_alias.precio}}</td>
          <td class="text-left"> {{ user_alias.ano}}</td>
          <td class="text-left"> {{ user_alias.genero}}</td>
          <td class="text-left"> {{ user_alias.desarrollador}}</td>
        </tr>
      </tbody>
    </table>
<router-link to="/">
    <button class="brn btn-large btn-block btn-success full-width"> Add Juego </button>
</router-link>
<router-link to="/principal">
    <button class="brn btn-large btn-block btn-success full-width"> principal </button>
</router-link>

      </div>
</template>

<script>
/* eslint-disable */
import axios from 'axios';
export default {
    name:'juego',
    data() {
        return {
            Juego: {}
        }
    },
        mounted() {
        axios.get('http://localhost:3000/api/juegos/5ba6ab513a04a80ddfd8b77c')
            .then((response) => {
                console.log(response.data);
                this.Juego = response.data;
            })
            .catch((error) => {
                console.log(error);
            });
    },
}
</script>

<style>
  
</style>
