<template>
  <div class="container">
    <table>
      <tr>
        <th>
          <h4>Editar Juego</h4>
        </th>
        <th>
          <div class="card">
            <div class="card-body">
                <div class="form-gorup">
                    <input type="email" name="" class="form-control" placeholder="Correo Electrónico" v-model="email">
                </div>
                <div class="form-gorup">
                    <input type="password" name="" class="form-control" placeholder="Contraseña" v-model="password">
                </div>
                <button class="btn btn-primary" v-on:click="login(email, password)">Login</button>
            </div>
          </div>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>
    <form>
      <div class="well">
        <div class="form-group">
          <label class="pull-left">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre" v-model="nuevo_des.nombre" required>
        </div>
        <div class="form-group">
          <label class="pull-left">Descripción</label>
          <input type="text" class="form-control" placeholder="Descripción" v-model="nuevo_des.descripcion">
        </div>
        <div class="form-group">
          <label class="pull-left">País</label>
          <input type="text" class="form-control" placeholder="País" v-model="nuevo_des.pais">
        </div>
      </div>
      <table>
        <tr>
          <th>
            <router-link to="/">
              <button type="submit" class="btn btn-large btn-block btn-primary full-width" v-on:click="editar_des(nuevo_des)">Guardar</button>
            </router-link>
          </th>
          <th>
            <router-link to="/">
              <button class="btn btn-large btn-block btn-success full-width">Atrás</button>
            </router-link>
          </th>
        </tr>
      </table>
    </form>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'juego',
  data () {
    return {
      nuevo_des: {},
      des_nombre: '',
      email:'',
      token: '',
      password: '',
      Juegos: []
    }
  },
  mounted() {

        axios.get('http://localhost:3000/api/desarrolladores/' + this.$route.params.id_des).
          then(
          (response) => {
            console.log(response.data);
                this.nuevo_des = response.data;
                this.des_nombre = this.nuevo_des.nombre;
          },
          (error) => {
            console.log(error);
          });
          axios.get('http://localhost:3000/api/juegos')
            .then((response) => {
              console.log(response.data)
              this.Juegos = response.data
            })
            .catch((error) => {
              console.log(error)
              console.log(this.token)
            })
    },
  methods: {
    editar_des (nuevo_des) {
      if (nuevo_des.nombre.length < 1){
        alert("El desarrollador debe tener un nombre.");
      }
      else{
        axios.put('http://localhost:3000/api/desarrolladores/' + this.$route.params.id_des + '?access_token=' + this.token, nuevo_des)
          .then((response) => {
            console.log(response)
            var j;
            for (j = 0; j < this.Juegos.length; j++){
              if (this.Juegos[j].desarrollador === this.des_nombre){
                this.Juegos[j].desarrollador = nuevo_des.nombre;
                axios.put('http://localhost:3000/api/juegos/' + this.Juegos[j].id + '?access_token=' + this.token, this.Juegos[j])
                  .then((response) => {
                    console.log(response)
                  })
                  .catch((error) => {
                    console.log(error)
                    console.log(this.token)
                })
              }
            }
            
          })
          .catch((error) => {
            console.log(error)
            console.log(this.token)
          })
      }
    },
    login(email, password) {
      const credentials = {
          email: email,
          password: password
      }
      axios.post('http://localhost:3000/api/Users/login', credentials).then(response => {
          console.log(response)
          this.token = response.data.id
          localStorage.setItem('accToken', this.token)
          console.log(this.token)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
