<template>
  <div clas="container">

    <table>
      <tr>
        <th>
          <h1>Detalles</h1>
        </th>
        <th>
          <div class="card">
            <div class="card-body">
                <div class="form-gorup">
                    <input type="email" name="" class="form-control" placeholder="Correo Electrónico" v-model="email">
                </div>
                <div class="form-gorup">
                    <input type="password" name="" class="form-control" placeholder="Contraseña" v-model="password">
                </div>
                <button class="btn btn-primary" v-on:click="login(email. password)">Login</button>
            </div>
          </div>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>

      <table class="table table-striped table-borderes">
      <thead>
        <tr>
          <th class="center">Nombre</th>
          <th class="center">Descripción</th>
          <th class="center">Año</th>
          <th class="center">Género</th>
          <th class="center">Desarrollador</th>
          <th class="center">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="center"> {{ Juego.nombre}}</td>
          <td class="center"> {{ Juego.descripcion}}</td>
          <td class="center"> {{ Juego.ano}}</td>
          <td class="center"> {{ Juego.genero}}</td>
          <td class="center"> {{ Juego.desarrollador}}</td>
          <td class="center"> {{ Juego.precio}}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <tr>
        <td>
          <router-link :to="{ name: 'editar_juego', params: {id_juego: Juego.id } }">
              <button class="brn btn-large btn-block btn-success full-width"> Editar </button>
          </router-link>
        </td>
        <td>
          <router-link to="/">
              <button class="brn btn-large btn-block btn-success full-width" v-on:click="eliminar_juego(Juego)"> Eliminar </button>
          </router-link>
        </td>
        <td>
          <router-link to="/">
              <button class="brn btn-large btn-block btn-success full-width"> Atrás </button>
          </router-link>
        </td>
      </tr>
    </table>
      </div>
</template>

<script>
/* eslint-disable */
import axios from 'axios';
export default {
    name:'juego',
    data() {
        return {
            Juego: {},
            salir: false,
            email:'',
            token: '',
            password: ''
        }
    },
        mounted() {

        axios.get('http://localhost:3000/api/juegos/' + this.$route.params.juego_id).
          then(
          (response) => {
            console.log(response.data);
                this.Juego = response.data;
          },
          (error) => {
            console.log(error);
          });
    },
    methods: {
      eliminar_juego: function(Juego){
        if(confirm("¿Seguro que desea eliminar este juego?")){
          axios.delete('http://localhost:3000/api/juegos/' + this.$route.params.juego_id + "?access_token="
          + this.token).
          then(
          (response) => {
            console.log(response.data);
            salir = true;
            //
          },
          (error) => {
            alert("Inicie sesión para eliminar.");
          });
        }
      },
      login(email, password) {
                const credentials = {
                    email: email,
                    password: password
                }
                axios.post('http://localhost:3000/api/Users/login', credentials).then(response => {
                    console.log(response)
                    this.token = response.data.id
                    console.log(this.token)
                    localStorage.setItem('accToken', this.token)
                })
          }
    }
}
</script>

<style>
  
</style>
