<template>
  <div clas="container">

    <table>
      <tr>
        <th>
          <h1>Detalles</h1>
        </th>
        <th>
          <div class="card">
            <div class="card-body">
                <div class="form-gorup">
                    <input type="email" name="" class="form-control" placeholder="Correo Electrónico" v-model="email">
                </div>
                <div class="form-gorup">
                    <input type="password" name="" class="form-control" placeholder="Contraseña" v-model="password">
                </div>
                <button class="btn btn-primary" v-on:click="login(email, password)">Login</button>
            </div>
          </div>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>

      <table class="table table-striped table-borderes">
      <thead>
        <tr>
          <th class="center">Nombre</th>
          <th class="center">Descripción</th>
          <th class="center">País</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="center"> {{ Des.nombre}}</td>
          <td class="center"> {{ Des.descripcion}}</td>
          <td class="center"> {{ Des.pais}}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <tr>
        <td>
          <router-link :to="{ name: 'editar_des', params: {id_des: Des.id } }">
              <button class="brn btn-large btn-block btn-success full-width"> Editar </button>
          </router-link>
        </td>
        <td>
          <router-link to="/">
              <button class="brn btn-large btn-block btn-success full-width" v-on:click="eliminar_des(Des, des_nombre)"> Eliminar </button>
          </router-link>
        </td>
        <td>
          <router-link to="/">
              <button class="brn btn-large btn-block btn-success full-width"> Atrás </button>
          </router-link>
        </td>
      </tr>
    </table>
    <div class="row">
    <div class="col s12 m2" v-for="Juego_alias in juegos_nombres">
      <div class="card">
        <div class="card-image">
          <img src="./images/game_icon.jpeg">
          <router-link :to="{ name: 'info_juego', params: {juego_id: Juego_alias.id } }">
          <a class="btn-floating halfway-fab waves-effect waves-light cyan"><i class="material-icons">menu</i></a>
          </router-link>
        </div>
        <div class="card-content">
          <span class="card-title">{{ Juego_alias.nombre}}</span>
          <router-link :to="{ name: 'info_des', params: {des_id: Juego_alias.desarrollador } }">
          <a>{{ Juego_alias.desarrollador}}</a>
          </router-link>
        </div>
      </div>
    </div>
  </div>
      </div>
</template>

<script>
/* eslint-disable */
import axios from 'axios';
export default {
    name:'des',
    data() {
        return {
            Des: {},
            salir: false,
            email:'',
            token: '',
            password: '',
            Juegos: [],
            des_nombre: '',
            juegos_nombres: []
        }
    },
        mounted() {

        axios.get("http://localhost:3000/api/desarrolladores/findOne?filter=" +
    encodeURIComponent(JSON.stringify({"where":{"nombre":this.$route.params.des_id}}))).
    then(
          (response) => {
            console.log(response.data);
                this.Des = response.data;
                this.des_nombre = this.Des.nombre;
            //
          },
          (error) => {
            console.log(error);
          });
    axios.get('http://localhost:3000/api/juegos')
            .then((response) => {
              console.log(response.data)
              this.Juegos = response.data
              var k = 0
              for (k = 0; k < this.Juegos.length; k++){
                if (this.Juegos[k].desarrollador === this.des_nombre){
                  this.juegos_nombres.push(this.Juegos[k]);
                }
              }
            })
            .catch((error) => {
              console.log(error)
              console.log(this.token)
            })
    },
    methods: {
      eliminar_des: function(Des,des_nombre){
        if(confirm("¿Seguro que desea eliminar este desarrolladores?")){
		
		axios.get('http://localhost:3000/api/juegos')
            .then((response) => {
              console.log(response.data)
              this.Juegos = response.data
              var k = 0
              for (k = 0; k < this.Juegos.length; k++){
                if (this.Juegos[k].desarrollador === this.des_nombre){
                  this.juegos_nombres.push(this.Juegos[k]);
                }
              }
            })
            .catch((error) => {
              console.log(error)
              console.log(this.token)
            })
            
          axios.delete('http://localhost:3000/api/desarrolladores/' + Des.id + "?access_token="
          + this.token).
          then(
          (response) => {
            console.log(response.data);
            var j;
            for (j = 0; j < this.Juegos.length; j++){
              if (this.Juegos[j].desarrollador === des_nombre){
                this.Juegos[j].desarrollador = '';
                axios.put('http://localhost:3000/api/juegos/' + this.Juegos[j].id + '?access_token=' + this.token, this.Juegos[j])
                  .then((response) => {
                    console.log(response)
                  })
                  .catch((error) => {
                    console.log(error)
                    console.log(this.token)
                })
              }
            }
            //
          },
          (error) => {
            alert("Inicie sesión para eliminar.");
          });
        }
      },
      login(email, password) {
                const credentials = {
                    email: email,
                    password: password
                }
                axios.post('http://localhost:3000/api/Users/login', credentials).then(response => {
                    console.log(response)
                    this.token = response.data.id
                    localStorage.setItem('accToken', this.token)
                })
          }
    }
}
</script>

<style>
  
</style>
