<template>
  <div class="container">
    <form>
      <div class="well">
        <h4> Ingresar</h4>
        <div class="form-group">
          <label class="pull-left">Correo Electrónico</label>
          <input type="text" class="form-control" placeholder="Correo Electrónico" v-model="User.email">
        </div>
        <div class="form-group">
          <label class="pull-left">Contraseña</label>
          <input type="text" class="form-control" placeholder="Contraseña" v-model="User.password">
        </div>
      </div>
      <table>
        <tr>
          <th>
            <router-link to="/principal">
              <button type="submit" class="btn btn-large btn-block btn-primary full-width">Ingresar</button>
            </router-link></th>
          <th>
            <router-link to="/crear">
              <button class="btn btn-large btn-block btn-success full-width">Registrarse</button>
            </router-link>
          </th> 
        </tr>
      </table>
    </form>
  </div>
</template>

<script>

import axios from 'axios'

export default {
    name:'user',
    data() {
        return {
            User: [],
        }
    },
        mounted() {
        axios.get('http://localhost:3000/api/Users')
            .then((response) => {
                console.log(response.data);
                this.User = response.data;
            })
            .catch((error) => {
                console.log(error);
            });
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>