<template>
  <div class="row">
    <table>
      <tr>
        <h4>Tipo de Cambio: $1 = ₡{{cambio}}</h4>
      </tr>
      <tr>
        <th>
          <router-link to="/agregar_juego">
            <button class="brn btn-large btn-block btn-success full-width"> Agregar Juego</button>
          </router-link>
        </th>
        <th>
          <router-link to="/agregar_des">
            <button class="brn btn-large btn-block btn-success full-width"> Agregar Desarrollador</button>
          </router-link>
        </th>
        <th>
          <router-link to="/crear_usuario">
            <button class="brn btn-large btn-block btn-success full-width"> Registrarse</button>
          </router-link>
        </th>
      </tr>
    </table>
    <div class="col s12 m2" v-for="Juego_alias in Juego">
      <div class="card">
        <div class="card-image">
          <img src="./images/game_icon.jpeg">
          <router-link :to="{ name: 'info_juego', params: {juego_id: Juego_alias.id } }">
          <a class="btn-floating halfway-fab waves-effect waves-light cyan"><i class="material-icons">menu</i></a>
          </router-link>
        </div>
        <div class="card-content">
          <span class="card-title">{{ Juego_alias.nombre}}</span>
          <router-link :to="{ name: 'info_des', params: {des_id: Juego_alias.desarrollador } }">
          <a>{{ Juego_alias.desarrollador}}</a>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from 'axios';
export default {
    name:'juego',
    data() {
        return {
            Juego: [],
            cambio: 0
        }
    },
        mounted() {
        axios.get('http://localhost:3000/api/juegos')
            .then((response) => {
                console.log(response.data);
                this.Juego = response.data;
            })
            .catch((error) => {
                console.log(error);
            });
        axios.get("https://openexchangerates.org/api/latest.json?app_id=497c2b1daa5e4f039c38efc4f6392954")
        .then((response) => {
                console.log(response.data);
                this.cambio = response.data.rates.CRC;
            })
            .catch((error) => {
                console.log(error);
            });
    },
    methods: {
      tipoCambio(){
        axios.get("https://openexchangerates.org/api/latest.json?app_id=497c2b1daa5e4f039c38efc4f6392954")
        .then(
          (response) => {
            this.cambio = response.data.rates.CRC;
            //cambio tiene el tipo de cambio (COMO NUMERO, NO STRING), poner en pantalla, supongo
          },
          (error) => {
            //error
            //poner algun valor random diria yo
            this.cambio = 0;
          }
        );
      }
    }
}
</script>

<style>
  
</style>
